<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minionese</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
    </style>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1 class="title"> hi, this is my minionese transcriber </h1>
<div class="section">
    <p> automatic speech recognition is very cool, but how well do these models respond to constructed languages </p>
</div>
</body>
</html>