<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>calcalcal</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
    </style>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/app.js"></script>
</head>
<body>
<div class="container">
<div class="bio main">
    <h1>calvin clark</h1>
    <p>atlanta, ga</p>
    <a href="mailto:cclark347@gatech.edu"><p>cclark347@gatech.edu</p></a>
</div>
    <div>
        <h1 class="header">projects</h1>
    </div>
    <div class="section">
        <div class="subsection">
            <h1>minionese transcriber</h1>
            <a href="../../minionese/template/index.html"><p class="minion"> see more </p></a>
            <p class="date">computational linguistics</p>
        </div>
    </div>
    <div class="section">
        <div class="subsection">
            <h1> emojis as finite autonoma</h1>
            <a href="../../emojis/templates/index.html"><p class="emoji"> see more </p></a>
            <p class="date">computational linguistics</p>
        </div>
    </div>
    <div>
        <h1 class="header">coursework</h1>
    </div>
    <div class="section">
        <div class="subsection">
            <p>data structures and algorithms</p>
            <p>linear alegbra</p>
            <p>applications of linguistics</p>
        </div>
    </div>


</body>
</html>